<div *ngIf="InfoValue;else elseBlock">
  <form [formGroup]="InfoValueForm">
    <div class="form-container-column">
      <mat-accordion class="headers-align">
        <!--Expansion1-->
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
          <!--Header-->
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Progress task machine infomation</strong>
            </mat-panel-title>
            <mat-panel-description>
              Specify the progress quantity, progress date and progress weight for progress task machine.
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!--Quality-->
          <mat-form-field hintLabel="Specify the quality">
            <input matInput type="number" formControlName="Quantity"
                   min="0" max="maxQuantity" required
                   placeholder="Quality (Maximum is {{maxQuantity}})">
            <mat-error *ngIf="InfoValueForm.controls.Quantity.hasError('min')">
              Quality min is 0
            </mat-error>
            <mat-error *ngIf="InfoValueForm.controls.Quantity.hasError('max')">
              Quality max is {{maxQuantity || 0}}
            </mat-error>
            <mat-error *ngIf="InfoValueForm.controls.Quantity.hasError('required')">
              Quantity is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!--Weight-->
          <mat-form-field hintLabel="Specify the weight">
            <input matInput type="number" formControlName="Weight"
                   min="0"
                   placeholder="Weight">
            <mat-error *ngIf="InfoValueForm.controls.Weight.hasError('min')">
              Weight min is 0
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="ProgressDate" matInput [matDatepicker]="ProgressDate"
                   required
                   placeholder="Date progress">
            <mat-datepicker-toggle matSuffix [for]="ProgressDate"></mat-datepicker-toggle>
            <mat-datepicker #ProgressDate></mat-datepicker>
          </mat-form-field>

          <mat-form-field hintLabel="HH:mm:ss">
            <input formControlName="ProgressDateTime" matInput type="time"
                   required
                   placeholder="Time progress">
          </mat-form-field>

          <mat-action-row>
            <button mat-button color="primary" (click)="endStep()" [disabled]="!InfoValueForm.valid">
              <strong>End</strong>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </form>
</div>

<ng-template #elseBlock>
  <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
  Waiting... for loading
</ng-template>
